@mixin custom-styles($theme) {
    $theme-primary: map-get($theme, primary);
    $theme-accent: map-get($theme, accent);

    $theme-background: map-get($theme, background);
    $theme-foreground: map-get($theme, foreground);

    $theme-primary-color: mat-color($theme-primary);
    $theme-primary-lighter-color: mat-color($theme-primary, lighter);
    $theme-primary-darker-color: mat-color($theme-primary, darker);
    $theme-accent-color: mat-color($theme-accent);
    $theme-background-color: mat-color($theme-background, background);
    $theme-card-color: mat-color($theme-background, card);
    $theme-foreground-color: mat-color($theme-foreground, text);
    $theme-foreground-secondary-color: mat-color($theme-foreground, secondary-text);
    $theme-dialog-background-color: mat-color($theme-background, dialog);
    $theme-hover-background-color: mat-color($theme-background, hover);
    $theme-selected-button-color: mat-color($theme-background, selected-button);

    > .ng-io-container, .content {
        background-color: $theme-background-color;
        color: $theme-foreground-color;
    }

    .heading {
        color: $theme-foreground-color;
    }

    footer {
        background-color: $theme-primary-color;
    }

    mat-sidenav-container.sidenav-container.mat-drawer-container.mat-sidenav-container, mat-sidenav-container .sidenav-content {
        background-color: $theme-background-color;
    }

    mat-sidenav.mat-sidenav.sidenav {
        background-color: $theme-dialog-background-color;
    }

    .toc-inner ul.toc-list li {
        &.active a {
            color: $theme-accent-color;

            &:before {
                background-color: $theme-accent-color;
            }
        }

        &:hover a {
            color: $theme-accent-color;
        }

        a {
            color: $theme-foreground-color;
        }
    }

    .vertical-menu-item {
        color: $theme-foreground-color;

        &:hover {
            background-color: $theme-hover-background-color;
            color: $theme-accent-color;
            text-shadow: 0 0 0px;
        }

        &.selected {
            background-color: $theme-hover-background-color;
            color: $theme-accent-color;
        }

        &:focus {
            color: $theme-accent-color;
            outline-width: 0px;
            text-shadow: 0 0 0px;
        }

        &:focus, :not(&:selected) {
            background-color: $theme-hover-background-color;
            color: $theme-foreground-color;
        }
    }

    .form-select-button {
        background-color: $theme-card-color;
        color: $theme-accent-color;
        border-width: 0px;
    }

    .form-select-dropdown {
        background-color: $theme-card-color;

        li {
            &:hover {
                background-color: $theme-hover-background-color;
                color: $theme-accent-color;
            }

            &.selected {
                background-color: $theme-card-color;
                color: $theme-accent-color;
            }
        }
    }

    code-example {
        &:not(.no-box) {
            background-color: rgba($theme-background-color, 0.5);
            color: $theme-foreground-color;
            border: 1px solid rgba($theme-foreground-secondary-color, 0.2);
        }
    }

    .content {
        .lightbox {
            background-color: $theme-card-color;
            border: 1px solid rgba($theme-foreground-secondary-color, 0.2);
        }
    }

    // ANGULAR LINE
    .background-sky {
        background-color: $theme-primary-color;
        background: linear-gradient(145deg, $theme-primary-darker-color, $theme-primary-color, $theme-primary-lighter-color);
    }

    .marketing-banner {
        background-color: $theme-primary-color;

        .banner-headline {
            color: #fff;
        }
    }

    aio-shell.page-features mat-toolbar.mat-toolbar,
    aio-shell.page-events mat-toolbar.mat-toolbar,
    aio-shell.page-resources mat-toolbar.mat-toolbar {
        @include mat-elevation(6);
    }

    h1, h2, h3, h4, h5, h6 {
        color: $theme-foreground-color;
    }

    p, ol, ul, ol, li, input, a {
        color: $theme-foreground-color;
    }

    code {
        color: $theme-foreground-color;
    }

    table {
        background-color: $theme-card-color;

        thead > {
            tr > th {
                color: $theme-foreground-color;
            }
        }
    }
}