@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ng-io-primary: mat-palette($mat-blue, 700, 600, 800);
$ng-io-accent:  mat-palette($mat-red, 700, 600, 800);

// The warn palette is optional (defaults to red).
$ng-io-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ng-io-theme: mat-light-theme($ng-io-primary, $ng-io-accent, $ng-io-warn);

$deeppurple-amber-primary: mat-palette($mat-deep-purple);
$deeppurple-amber-accent:  mat-palette($mat-amber, A200, A100, A400);

$deeppurple-amber-theme: mat-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

$indigo-pink-primary: mat-palette($mat-indigo);
$indigo-pink-accent:  mat-palette($mat-pink, A200, A100, A400);

$indigo-pink-theme: mat-light-theme($indigo-pink-primary, $indigo-pink-accent);

$pink-bluegrey-primary: mat-palette($mat-pink);
$pink-bluegrey-accent:  mat-palette($mat-blue-grey, A200, A100, A400);

$pink-bluegrey-theme: mat-dark-theme($pink-bluegrey-primary, $pink-bluegrey-accent);

$purple-green-primary: mat-palette($mat-purple);
$purple-green-accent:  mat-palette($mat-green, A200, A100, A400);

$purple-green-theme: mat-dark-theme($purple-green-primary, $purple-green-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ng-io-theme);

@mixin custom-style($theme) {
    $theme-background: map-get($theme, background);
    $theme-foreground: map-get($theme, foreground);

    $theme-background-color: mat-color($theme-background, card);
    $theme-foreground-color: mat-color($theme-foreground, text);
    $theme-drawer-background-color: mat-color($theme-background, dialog);

    body, .content {
        background-color: $theme-background-color;
    }

    .heading {
        color: $theme-foreground-color
    }

    mat-sidenav-container.sidenav-container.mat-drawer-container.mat-sidenav-container, mat-sidenav-container .sidenav-content {
        background-color: $theme-background-color;
    }

    mat-sidenav.mat-sidenav.sidenav {
        background-color: $theme-drawer-background-color;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $theme-foreground-color;
    }

    p, ol, ul, ol, li, input, a {
        color: $theme-foreground-color;
    }
}

.deeppurple-amber {
    @include angular-material-color($deeppurple-amber-theme);
    @include custom-style($deeppurple-amber-theme);
}

.indigo-pink {
    @include angular-material-color($indigo-pink-theme);
    @include custom-style($indigo-pink-theme);
}

.pink-bluegrey {
    @include angular-material-color($pink-bluegrey-theme);
    @include custom-style($pink-bluegrey-theme);
}

.purple-green {
    @include angular-material-color($purple-green-theme);
    @include custom-style($purple-green-theme);
}